.main {
  padding: 30px;
  max-width: 1024px;
  max-width: 1080px;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.container{
  background: #000000;
  border:2px solid #414141 !important;
  border-radius: 12px;
  padding: 6px;
  margin: 6px;
}
